@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}



:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Android', sans-serif;
}

*{
    line-height: 2.0em;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font0);
}

a.externo::after{
    content: '\00A0\1F517';
}


main{
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);

}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    color: var(--cor3);
}

header{
    min-height: 150px;
    background-color: var(--cor3);
    font-family: var(--font1);
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.466);
}

nav{
    background-color: var(--cor5);
    display: flex;
    align-items: left;
    
}

nav > a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-weight: smaller;
    font-size: 15px;
}

nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    border-radius: 2px;
}

article h1{
    font-family: var(--font2);
    padding: 0px 15px;
    color:var(--cor3)
}

article h2{
    display: flex;
    font-family: var(--font2);
    background-image: linear-gradient(to right, var(--cor1), white);
    color: var(--cor3);
    width: 500px;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;

    
}

article p{
    text-align: justify;
    text-indent: 25px;
    margin: 10px;

}

picture img{
    margin: 0px auto;
}

figure img{
    display: flex;
    margin: 0px auto;
}

div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left:5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.412);
}

aside h3{
    background-color: var(--cor3);
    color: white;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0px 15px;
    padding-top: 5px;


}


ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    padding: 0px 10px;
    line-height: normal;
    
}

footer{
    background-color: var(--cor5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

strong{
    color: var(--cor3);
}
